# AGI
.planning
.claude

# logs
logs

# env
.env

# go
vendor

# binary
bin/webhook-handler

# conf.d
conf.d/deploy_*.yaml
!conf.d/deploy_example.yaml
!conf.d/deploy_saas.api.example.yaml
!conf.d/deploy_saas.web.example.yaml
!conf.d/deploy_saas.grpc.example.yaml
conf.d/webhookd.yaml
